@model Mocktails.Website.Models.Cart

@{
    ViewData["Title"] = "Cart";
}

<div class="text-center" style="width:800px; margin:0px auto;">
    <h1 class="display-4">Cart</h1>
    @if (Model.IsEmpty)
    {
        <div class="row">
            <div class="col-12 text-center">
                <h2>Your cart is empty</h2>
            </div>
        </div>
    }
    else
    {
        @foreach (var mocktailQuantity in Model.Products)
        {
            <div class="row" style="padding-top:2px;">
                <div class="col-6">
                    @mocktailQuantity.Quantity @(mocktailQuantity.Name)(s)
                    at $@mocktailQuantity.Price each
                </div>
                <div class="col-3">
                    total $@mocktailQuantity.GetTotalPrice()
                    </div>
                <div class="col-3">
                    <a class="btn btn-primary" href="@Url.Action("Add", "Cart", new { id = mocktailQuantity.Id, quantity = -1 })" title="remove one">-1</a>
                    <a class="btn btn-primary" href="@Url.Action("Add", "Cart", new { id = mocktailQuantity.Id, quantity = 1 })" title="add one">+1</a>
                    <a class="btn btn-danger" href="@Url.Action("Delete", "Cart", new { id = mocktailQuantity.Id })" title="delete product"><i class="fa-solid fa-trash"></i></a>
                </div>
            </div>
        }
    }
    <p></p>
    <h2 class="display-6">Total: $@Model.GetTotal()</h2>
    <form asp-action="EmptyCart" asp-controller="Cart" method="post" style="display:inline;">
        <button type="submit" class="btn btn-danger">Empty entire cart <span class="bi bi-trash"></span></button>
    </form>
    <div class="text-center">
        <a href="@Url.Action("Checkout", "Cart")" class="btn btn-success btn-lg">
            Proceed to Checkout
        </a>
    </div>
</div>
