@model IEnumerable<Mocktails.ApiClient.Products.DTOs.MocktailDTO>

<h1>Our Mocktails</h1>

<!-- Product Grid -->
@if (Model != null && Model.Any())
{
    <div class="row">
        @foreach (var mocktail in Model)
        {
            <div class="col-md-4 col-lg-3 mb-4">
                <div class="card shadow-lg rounded-3 product-card">
                    <img src="@mocktail.ImageUrl" class="card-img-top rounded-top" alt="@mocktail.Name" />
                    <div class="card-body">
                        <h5 class="card-title text-center">@mocktail.Name</h5>
                        <p class="card-text text-muted text-center" style="font-size: 0.9rem;">@mocktail.Description</p>
                        <p class="font-weight-bold text-center">$@mocktail.Price</p>
                        <div class="d-flex justify-content-between">
                            <a href="@Url.Action("Details", "Mocktails", new { id = mocktail.Id })" class="btn btn-outline-primary btn-sm">View Details</a>
                            <td>
                                <a class="btn-sm btn-primary" href="@Url.Action("Add", "Cart", new { id = mocktail.Id, quantity = 1 })">Add to cart<span class="bi-cart-plus" style="margin-left:10px;"></span></a>
                            </td>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p class="text-center">No mocktails available at the moment.</p>
}